{% extends 'base.html.twig' %}

{% block title %}Geolocalisation - A Propos{% endblock %}

{% block body %}
   <div class="row">

    	<div class="col-md-12">
      <h1>Importer un fichier</h1>
          <br />
<div class="dropzone my-dropzone" id="form_snippet_image" action="{{path('about')}}">
</div>
		</div>
        
        
        
	</div>
{% endblock %}


