{% extends 'base.html.twig' %}

{% block title %}Geolocalisation - A Propos{% endblock %}

{% block body %}
      <div class="starter-template">
        <h1>A Propos</h1>
        <p class="lead">Cette application permet de gérer la Géolocalisation des clients.<br> Le fichier d'importation doit correspondre à des critères précis.</p>
      </div>
{% endblock %}


