{% extends 'base.html.twig' %}
 {% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block body %}
    <h1>Création d'une nouvelle société</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input class="btn button-access" type="submit" value="Créer" />
            </div>
        </div>
        
    {{ form_end(form) }}
<div class="col-sm-offset-2 col-sm-10">
            <a href="{{ path('societe_index') }}">Retour à la liste</a>
</div>
{% endblock %}
